/* header */

.headerNav {
    position: absolute;
    right: 0;
    height: 100%;
}

.navHeaderList {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navHeaderItem {
    border-left: 1px solid var(--color-gray);
}

.navHeaderInner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    height: 100%;
}

/* profile-nav */

.profileNav {
    position: relative;
    cursor: pointer;
}

.profileNav:hover .profileNavList,
.profileNav:focus .profileNavList,
.profileNavList:focus-within .profileNavList {
    display: block;
}

.profileNavList {
    position: absolute;
    top: 90%;
    right: 15px;
    z-index: 5;
    display: none;
    min-width: 150px;
    padding: 0;
    list-style: none;
    background-color: var(--color-white);
    border-radius: 1px;
    box-shadow: var(--shadow);
}

.profileNavItem {
    padding: 0 10px 10px;
    text-align: center;
}

.profileNavItem:first-child {
    padding-top: 10px;
}

.profileNavSignOut {
    min-height: auto;
}
